---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
---

<Layout title="Santiago Martelli | Programador y Desarrollador Web"
description="Hola! Soy Santiago Martelli, un programador y desarrollador web con conocimientos de HTML, CSS, JavaScript, Vue.js, Php, Laravel, MySQL y más. Disponible para trabajar!">
    <section class="mx-auto flex flex-col justify-center">
      <h2 class="pb-6 text-orange-700"><span>&gt;</span> Extracto</h2>
      <p class="text-md pb-10 text-pretty">
        Desarrollador de Aplicaciones Web motivado, entusiasta y con una sólida formación teórica. Aunuqe a
        simple vista mi experiencia parezca limitada, cuento con proyectos personales que muestran mis capacidades para
        construir páginas web tanto estáticas como dinámicas, brindando soluciones limpias e innovadoras a problemas
        reales. Me apasiona aprender y mejorar constantemente, por lo que estoy dispuesto a enfrentar nuevos desafíos y
				aportar valor a cualquier equipo de trabajo.
      </p>
      <h2 class="pb-6 text-orange-700"><span>&gt;</span> Habilidades</h2>
      <div class="flex flex-row gap-3 flex-wrap pb-10">
        <Badge>HTML</Badge>
        <Badge>CSS</Badge>
        <Badge>JavaScript</Badge>
        <Badge>Vue.js</Badge>
        <Badge>Node.js</Badge>
        <Badge>Express.js</Badge>
        <Badge>PHP</Badge>
        <Badge>Laravel</Badge>
        <Badge>MySQL</Badge>
        <Badge>Git</Badge>
        <Badge>Tailwind CSS</Badge>
      </div>
    </section>
</Layout>