---
import Layout from "../layouts/Layout.astro";

let counter = 5;

const interval = setInterval(() => {
  counter--;
  if (counter === 0) {
    clearInterval(interval);
  }
}, 1000);
---

<Layout
  title="Santiago Martelli | Programador y Desarrollador Web"
  description="Hola! Soy Santiago Martelli, un programador y desarrollador web con conocimientos de HTML, CSS, JavaScript, Vue.js, PHP, Laravel, SQL y más. Disponible para trabajar!">
  <main>
    <!-- Success page -->
    <div class="flex flex-col justify-center items-center space-y-10 w-full bg-slate-100 h-screen overflow-y-hidden">
      <div class="text-md md:text-3xl text-blue-700 text-center">
        <p>¡Gracias por tu mensaje!</p>
        <p class="text-black mt-3">Te responderé lo antes posible.</p>
      </div>
      <p id="counter" class="text-xs pt-20 text-center">Redirigiendo a la página de inicio en... {counter}</p>
    </div>
    <script>
      let counter = 5;
      const counterElement = document.getElementById("counter");

      const interval = setInterval(() => {
        counter--;
        if (counterElement) {
          counterElement.textContent = `Redirigiendo a la página de inicio en... ${counter}`;
        }

        if (counter === 0) {
          clearInterval(interval);
          window.location.href = "/#home";
        }
      }, 1000);
    </script>
  </main>
</Layout>
