---
import '@fontsource/titillium-web';
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.tsx";
import Projects from "../components/Projects.tsx";
import LinkedIn from "../icons/LinkedIn.astro";
import GitHub from "../icons/GitHub.astro";
import AboutMe from "../components/AboutMe.tsx";
import Hero from "../components/Hero.tsx";
import Skills from "../components/Skills.tsx";
import Contact from "../components/Contact.tsx";
---

<Layout
  title="Santiago Martelli | Programador y Desarrollador Web"
  description="Hola! Soy Santiago Martelli, un programador y desarrollador web con conocimientos de HTML, CSS, JavaScript, Vue.js, PHP, Laravel, SQL y más. Disponible para trabajar!">
  <main>
    <!-- Navbar -->
    <Navbar client:load />

    <!-- Hero section -->
     <div id="home"></div>
    <Hero client:visible />

    <!-- Divider  -->
    <div id="about" class="relative min-h-10 md:min-h-20 overflow-x-hidden">
      <div class="absolute inset-0 bg-white">
        <svg class="h-full w-full" viewBox="0 0 100 100" preserveAspectRatio="none">
          <polygon points="0,100 0,0 100,0" class="fill-slate-100"></polygon>
        </svg>
      </div>
    </div>

    <!-- About me section -->
    <AboutMe client:visible />

    <!-- Divider  -->
    <div id="projects" class="relative min-h-10 md:min-h-20 overflow-x-hidden">
      <div class="absolute inset-0 bg-white">
        <svg class="h-full w-full" viewBox="0 0 100 100" preserveAspectRatio="none">
          <polygon points="0,0 100,100 0,100" class="fill-slate-100"></polygon>
        </svg>
      </div>
    </div>

    <!-- Projects section -->
    <Projects client:visible />

    <!-- Divider  -->
    <div id="skills" class="relative min-h-10 md:min-h-20 overflow-x-hidden">
      <div class="absolute inset-0 bg-slate-100">
        <svg class="h-full w-full" viewBox="0 0 100 100" preserveAspectRatio="none">
          <polygon points="0,100 100,0 100,100" class="fill-black"></polygon>
        </svg>
      </div>
    </div>

    <!-- Skills section -->
    <Skills client:visible />

    <!-- Divider  -->
    <div id="contact" class="relative min-h-10 md:min-h-20 overflow-x-hidden">
      <div class="absolute inset-0 bg-white">
        <svg class="h-full w-full" viewBox="0 0 100 100" preserveAspectRatio="none">
          <polygon points="0,100 100,0 0,0" class="fill-black"></polygon>
        </svg>
      </div>
    </div>

    <!-- Contact section -->
    <Contact client:visible />

    <!-- Social and CV section -->
    <section
      id="social-cv"
      class="mx-auto flex flex-col justify-center items-center w-full pt-20 pb-16 bg-slate-100 overflow-x-hidden">
      <div class="flex flex-col mx-6 gap-y-10 items-center">
        <p class="text-center text-lg 2xl:text-xl ">
          También puedes encontrarme en mis redes sociales o descargar mi CV
        </p>
        <div class="relative h-48 w-80">
          <img
            src="/imgcv.jpg"
            alt="Download my Curriculum Vitae"
            class="absolute inset-0 h-full w-full object-fit rounded-lg opacity-70"
          />
          <div class="absolute inset-0 flex items-center justify-center text-white">
          <a
              href="/SantiagoMartelli_CV.pdf"
              download
              class="relative inline-flex items-center justify-center w-full h-full overflow-hidden transition duration-300 ease-out rounded-md group active:border-green-600">
              <span class="absolute flex items-center justify-center text-center text-xl w-full h-full text-black/80 transition-all duration-200 transform group-hover:scale-110 group-hover:text-sky-700 ease">
                Descargar <br> Curriculum Vitae
              </span>
            </a>
          </div>
        </div>
        <div class="flex justify-between">
          <div class="flex gap-x-2">
            <div
              class="px-4 py-2 transition-all duration-200 rounded-sm hover:text-sky-700">
              <a
                href="https://www.linkedin.com/in/santiagomartelli/"
                target="_blank"
                rel="noopener noreferrer"
                class="flex gap-x-2 text-lg md:text-sm items-center">
                <LinkedIn class="size-4 md:size-5" />
                <p>LinkedIn</p>
              </a>
            </div>
            <div
              class="px-4 py-2 transition-all duration-200 rounded-sm hover:text-sky-700">
              <a
                href="https://github.com/santimartelli"
                target="_blank"
                rel="noopener noreferrer"
                class="flex gap-x-2 text-lg md:text-sm items-center">
                <GitHub class="size-4 md:size-5" />
                <p>GitHub</p>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer section -->
    <footer class="flex justify-center items-center opacity-75 bg-black py-1 overflow-x-hidden">
      <p class="text-center text-white text-xs md:text-sm">&copy; 2024 Santiago Martelli. Todos los derechos reservados.</p>
    </footer>
  </main>
</Layout>
