---
import "@fontsource/titillium-web";
import Layout from "../layouts/Layout.astro";
import NavbarWithTheme from "../components/NavbarWithTheme";
import Projects from "../components/Projects";
import AboutMe from "../components/AboutMe";
import Hero from "../components/Hero";
import Contact from "../components/Contact";
import SocialCV from "../components/SocialCV";
import Footer from "../components/Footer";
import Divider from "../components/Divider.astro";
---

<Layout
  title="Santiago Martelli | Programador y Desarrollador Web"
  description="Hola! Soy Santiago Martelli, un programador y desarrollador web con conocimientos de HTML, CSS, JavaScript, Vue.js, PHP, Laravel, SQL y más. Disponible para trabajar!">
  <main>
    <!-- Navbar -->
    <NavbarWithTheme client:load />

    <!-- Hero section -->
    <section id="home" class="relative">
      <Hero client:visible />
    </section>

    <Divider />

    <!-- About me section -->
    <section id="about" class="relative">
      <AboutMe client:visible />
    </section>

    <Divider />

    <!-- Projects section -->
    <section id="projects" class="relative">
      <Projects client:visible />
    </section>

    <Divider />

    <!-- Contact section -->
    <section id="contact" class="relative">
      <Contact client:visible />
    </section>

    <Divider />

    <!-- Social and CV section -->
    <SocialCV client:visible />

    <!-- Footer -->
    <Footer client:visible />
  </main>
</Layout>
