---
import Layout from "../layouts/Layout.astro";
import Projects from "../components/Projects.tsx";
import Badge from "../components/Badge.astro";
import LinkedIn from "../icons/LinkedIn.astro";
import GitHub from "../icons/GitHub.astro";
import Curriculum from "../icons/Curriculum.astro";
---

<Layout
  title="Santiago Martelli | Programador y Desarrollador Web"
  description="Hola! Soy Santiago Martelli, un programador y desarrollador web con conocimientos de HTML, CSS, JavaScript, Vue.js, Php, Laravel, MySQL y más. Disponible para trabajar!">
  <main>
    <!-- Hero section -->
    <section id="home" class="w-screen min-h-screen mx-auto flex bg-slate-100">
      <div class="flex flex-col max-md:mx-4 justify-center text-center">
        <h1 class="text-5xl md:text-7xl pb-2 max-w-prose w-full font-bold mb-6">Santiago Martelli</h1>
        <article class="text-lg md:text-3xl mb-20 lg:mx-32">
          <h2>
            Desarrollador Web Full Stack con conocimientos en HTML, CSS, JavaScript, React.js, Vue.js, Php, Laravel,
            MySQL y más.
          </h2>
        </article>
        <div class="px-4 flex justify-center text-md">
          <a
            href="https://www.linkedin.com/in/santiagomartelli/"
            target="_blank"
            class="flex justify-center items-center gap-1.5 px-4 py-2 transition duration-150 ease-in rounded-lg border border-black hover:border-green-600">
            <div class="w-3 h-3 bg-green-600 rounded-full animate-blink"></div>
            Disponible para trabajar!
          </a>
        </div>
      </div>
    </section>
    <div class="divider"></div>
    <!-- About me section -->
    <section id="about" class="w-screen pt-10 pb-44">
      <div class="flex flex-col gap-y-10 max-md:mx-4 items-center">
        <h2 class="text-3xl font-bold text-center uppercase">Sobre Mí</h2>
        <div class="flex flex-col gap-y-8 items-center justify-center md:flex-row md:gap-x-5">
          <img src="/logo.jpg" alt="Santiago Martelli" class="rounded-full w-36" />
          <p class="text-justify px-4 md:w-2/3">
            Desarrollador de Aplicaciones Web motivado, entusiasta y con una sólida formación teórica. Aunuqe a simple
            vista mi experiencia parezca limitada, cuento con proyectos personales que muestran mis capacidades para
            construir páginas web tanto estáticas como dinámicas, brindando soluciones limpias e innovadoras a problemas
            reales. Me apasiona aprender y mejorar constantemente, por lo que estoy dispuesto a enfrentar nuevos
            desafíos y aportar valor a cualquier equipo de trabajo.
          </p>
        </div>
      </div>
    </section>
    <div class="divider2"></div>
    <!-- Projects section -->
    <section id="projects" class="flex justify-center w-screen pt-10 pb-44 bg-slate-100">
      <div class="flex flex-col max-md:mx-4 gap-y-10 items-center">
        <h2 class="text-3xl font-bold uppercase">Proyectos</h2>
        <Projects client:visible />
      </div>
    </section>
    <div class="divider3"></div>
    <!-- Skills section -->
    <section id="skills" class="flex flex-col justify-center items-center w-screen pt-10 pb-44 bg-black">
      <h2 class="text-3xl font-bold uppercase text-white pb-6">Habilidades</h2>
      <div class="flex flex-row gap-3 flex-wrap items-center justify-center">
        <Badge>HTML</Badge>
        <Badge>CSS</Badge>
        <Badge>JavaScript</Badge>
        <Badge>Vue.js</Badge>
        <Badge>Node.js</Badge>
        <Badge>Express.js</Badge>
        <Badge>PHP</Badge>
        <Badge>Laravel</Badge>
        <Badge>MySQL</Badge>
        <Badge>Git</Badge>
        <Badge>Tailwind CSS</Badge>
      </div>
    </section>
    <div class="divider4"></div>
    <!-- Contact section -->
    <section id="contact" class="mx-auto flex flex-col justify-center w-screen pt-10 pb-10">
      <div class="flex flex-col max-md:mx-4 gap-y-10 items-center">
        <h2 class="text-3xl font-bold uppercase">Contacto</h2>
        <p class="text-center">
          Si tienes alguna pregunta o simplemente quieres saludar, no dudes en escribirme. Estoy disponible para
          trabajar en proyectos interesantes.
        </p>
        <form
          action="https://formspree.io/f/moqyqzqz"
          method="POST"
          class="flex flex-col gap-y-4 w-full max-md:mx-4 md:w-1/2">
          <input
            type="text"
            name="name"
            placeholder="Nombre"
            class="p-2 border-b
              border-gray-300 focus:outline-none focus:border-b focus:border-b-sky-700"
          />
          <input
            type="email"
            name="email"
            placeholder="Correo Electrónico"
            class="p-2 border-b
              border-gray-300 focus:outline-none focus:border-b focus:border-b-sky-700"
          />
          <textarea
            name="message"
            placeholder="Mensaje"
            class="p-2 border-b border-gray-300
              focus:outline-none focus:border-b focus:border-b-sky-700"
          ></textarea>
          <div class="w-full flex items-center justify-center">
            <button
              type="submit"
              class="px-6 py-2 w-fit transition duration-150 ease-in rounded-lg border border-black hover:border-green-600"
              >Enviar</button
            >
          </div>
        </form>
        <p class="text-center">También puedes encontrarme en mis redes sociales o descargar mi CV</p>
        <div class="flex justify-between">
          <div class="flex gap-x-2">
            <div
              class="px-4 py-2 transition duration-150 rounded-full ease-in border border-transparent hover:border-green-700">
              <a href="https://www.linkedin.com/in/santiagomartelli/" class="flex gap-x-2 text-xs items-center">
                <LinkedIn class="size-4" />
                <p>LinkedIn</p>
              </a>
            </div>
            <div
              class="px-4 py-2 transition duration-150 rounded-full ease-in border border-transparent hover:border-green-700">
              <a href="https://github.com/santimartelli" class="flex gap-x-2 text-xs items-center">
                <GitHub class="size-4" />
                <p>GitHub</p>
              </a>
            </div>
            <div
              class="px-4 py-2 transition duration-150 rounded-full ease-in border border-transparent hover:border-green-700">
              <a href="#" class="flex gap-x-2 text-xs items-center">
                <Curriculum class="size-4" />
                <p>Descargar CV</p>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Footer section -->
    <footer class="flex justify-center items-center opacity-75 bg-black py-1">
      <p class="text-center text-white text-xs">&copy; 2024 Santiago Martelli. Todos los derechos reservados.</p>
    </footer>
  </main>

  <style>
    .divider {
      width: 0;
      height: 0;
      border-left: 100vw solid transparent;
      border-bottom: calc(100vw * 0.059) solid #fff;
      margin-top: calc(-100vw * 0.059);
    }

    .divider2 {
      width: 0;
      height: 0;
      border-right: 100vw solid transparent;
      border-bottom: calc(100vw * 0.059) solid #f1f5f9;
      margin-top: calc(-100vw * 0.059);
    }

    .divider3 {
      width: 0;
      height: 0;
      border-left: 100vw solid transparent;
      border-bottom: calc(100vw * 0.059) solid #000;
      margin-top: calc(-100vw * 0.059);
    }

    .divider4 {
      width: 0;
      height: 0;
      border-right: 100vw solid transparent;
      border-bottom: calc(100vw * 0.059) solid #fff;
      margin-top: calc(-100vw * 0.059);
    }

  </style>
</Layout>
