---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Santiago Martelli | Desarrollador Web">
  <main class="flex-grow">
    <section class="w-full h-full mx-auto lg:w-[740px] md:w-[600px] py-44">
      <h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-8">
        Hola, soy Santiago
      </h1>
      <h2 class="text-xl opacity-80">
        Desarrollador de Aplicaciones Web motivado, entusiasta y con una sólida formación teórica. Aunuqe a
        simple vista mi experiencia parezca limitada, cuento con proyectos personales que muestran mis capacidades para
        construir páginas web tanto estáticas como dinámicas, brindando soluciones limpias e innovadoras a problemas
        reales. Me apasiona aprender y mejorar constantemente, por lo que estoy dispuesto a enfrentar nuevos desafíos y
				aportar valor a cualquier equipo de trabajo.
      </h2>
    </section>
  </main>
</Layout>
