---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout
  title="Santiago Martelli | Proyectos"
  description="Hola! Soy Santiago Martelli, un programador y desarrollador web con conocimientos de HTML, CSS, JavaScript, Vue.js, Php, Laravel, MySQL y más. Disponible para trabajar!">
    <section class="mx-auto flex flex-row justify-center gap-10 flex-wrap">
      <Card
        image="https://tanyamartelli.com/img/logo.8ddecaf7.jpg"
        title="Tanya Martelli"
        title2="Photography"
        body="Sitio web de fotografía de Tanya Martelli"
        href="https://tanyamartelli.com"
      />
      <Card
        image="https://tanyamartelli.com/img/logo.8ddecaf7.jpg"
        title="Portfolio"
        title2="Santiago Martelli"
        body="Sitio web personal de Santiago Martelli"
        href="https://martelli.dev"
      />
    </section>
</Layout>
