---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout
  title="Santiago Martelli | Proyectos"
  description="Hola! Soy Santiago Martelli, un programador y desarrollador web con conocimientos de HTML, CSS, JavaScript, Vue.js, Php, Laravel, MySQL y más. Disponible para trabajar!">
  <!-- <div class="flex flex-row h-full">
    <section class="min-w-60 border-r border-zinc-700 flex flex-col">
      <div class="border-b border-b-zinc-700">
        <h1 class="py-3 pl-4">Proyectos</h1>
      </div>
      <div class="py-3 pl-4">
        <a href="/proyectos" class="">Todos</a>
      </div>
      <div class="py-3 pl-4">
        <a href="/proyectos/Vue" class="">Vue</a>
      </div>
      <div class="py-3 pl-4">
        <a href="/proyectos/Laravel" class="">Laravel</a>
      </div>
      <div class="py-3 pl-4">
        <a href="/proyectos/Astro" class="">Astro</a>
      </div>
    </section> -->
    <div class="max-h-screen">
    <section class="grid grid-cols-1 w-full md:grid-cols-2 lg:grid-cols-4 gap-4">
      <Card
        image="https://tanyamartelli.com/img/logo.8ddecaf7.jpg"
        title="Tanya Martelli"
        title2="Photography"
        body="Sitio web de fotografía de Tanya Martelli"
        href="https://tanyamartelli.com"
      />
      <Card
        image="https://tanyamartelli.com/img/logo.8ddecaf7.jpg"
        title="Portfolio"
        title2="Santiago Martelli"
        body="Sitio web personal de Santiago Martelli"
        href="https://santiagomartelli.com"
      />
      <!-- <Card
        image="https://tanyamartelli.com/img/logo.8ddecaf7.jpg"
        title="Santiago Martelli"
        title2="Blog"
        body="Blog personal de Santiago Martelli"
        href="https://blog.santiagomartelli.com"
      />
      <Card
        image="https://tanyamartelli.com/img/logo.8ddecaf7.jpg"
        title="Santiago Martelli"
        title2="Portfolio"
        body="Portfolio personal de Santiago Martelli"
        href="https://portfolio.santiagomartelli.com"
      /> -->
    </section>
  </div>
  <!-- </div> -->
</Layout>
