<h1 class="text-white text-3xl sn:text-2xl md:text-4xl lg:text-6xl pb-6">SANTIAGO MARTELLI</h1>
      <h1 class="text-white text-2xl sn:text-xl md:text-3xl lg:text-5xl"><span>&gt; </span>Desarrollador Web</h1>