---
import Badge from "../components/Badge.astro";
---

<div class="flex justify-end border-t border-zinc-700">
  <div class="p-2 border-l border-zinc-700">
    <a
      href="https://www.linkedin.com/in/santiagomartelli/"
      target="_blank"
      class="flex text-center items-end">
      <Badge>Open to Work!</Badge>
    </a>
  </div>
</div>
