---

---

<header class="flex justify-between items-center py-2 px-4 mx-auto border-b min-w-full border-b-zinc-700">
  <div class="flex flex-row gap-x-4 items-center">
    <img class="w-10 h-10" src="/assets/logo.png" alt="Logo Martelli Dev"/>
    <div class="text-xl flex flex-col space-y-[-7px]">
      <p>SANTIAGO</p>
      <p>MARTELLI</p>
    </div>
  </div>
  <nav class="flex flex-row gap-x-10 opacity-90">
      <a href="/">Home</a>
      <a href="/about">Sobre Mí</a>
      <a href="/projects">Proyectos</a>
      <a href="/contact">Contacto</a>
  </nav>
</header>