---

---

<header class="flex justify-between items-center mx-auto border-b-[.0px] min-w-full border-b-zinc-700">
  <div class="h-full border-r-[.0px] border-r-zinc-700 py-3">
    <p class="text-lg px-4 text-white">LOGO</p>
  </div>
  <nav class="flex flex-row gap-x-10 opacity-90 px-4 text-sm uppercase italic">
    <a href="/" class="transition duration-75 ease-in hover:text-white">_Inicio</a>
    <a href="/about" class="transition duration-75 ease-in hover:text-white">_Sobre Mí</a>
    <a href="/projects" class="transition duration-75 ease-in hover:text-white">_Proyectos</a>
    <a href="/contact" class="transition duration-75 ease-in hover:text-white">_Contacto</a>
  </nav>
</header>

