---
// Supports weights 100-900
import "@fontsource-variable/inter";
import "@fontsource/titillium-web";

interface Props {
  title: string;
  description: string;
}

declare global {
  interface Window {
    dataLayer: any[];
  }
}

const { description, title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-4SEW399N9F"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(...args) {
        window.dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag();
      gtag("config", "G-4SEW399N9F");
    </script>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="flex flex-col bg-darkbg-950 text-darktext-300">
    <slot />
  </body>

  <style is:global>
    /* :root {
      color-scheme: light dark;
    } */

    //Reset css
  *, *::before, *::after {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    :focus {
      outline: 0.5px solid #66fcf1;
    }

    html,
    body {
      height: 100%;
      font-family: "Titillium Web", "Inter variable", system-ui, sans-serif;
    }

    main {
      display: flex;
      flex-direction: column;
      scroll-behavior: smooth;
      margin: 0;
      padding: 0;
    }

    ::selection {
      background-color: #66fcf1;
      color: #0b0c10;
    }
  </style>
</html>
